* text=auto eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.cs text eol=crlf
*.dart text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.xml text eol=crlf
*.gradle text eol=crlf
*.kt text eol=lf
*.swift text eol=lf
*.m text eol=lf
*.mm text eol=lf
*.h text eol=lf



















