name: Deploy Cloud Run

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      GOOGLE_CLOUD_PROJECT: ${{ secrets.GOOGLE_CLOUD_PROJECT }}
      GOOGLE_CLOUD_REGION: ${{ secrets.GOOGLE_CLOUD_REGION }}
      CLOUD_RUN_SERVICE: ${{ secrets.CLOUD_RUN_SERVICE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.GOOGLE_CLOUD_PROJECT }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker auth
        run: gcloud auth configure-docker

      - name: Build container
        run: |
          gcloud builds submit \
            --tag gcr.io/${GOOGLE_CLOUD_PROJECT}/${CLOUD_RUN_SERVICE}:${GITHUB_SHA} \
            --config deployment/cloudrun/cloudbuild.yaml

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${CLOUD_RUN_SERVICE} \
            --image gcr.io/${GOOGLE_CLOUD_PROJECT}/${CLOUD_RUN_SERVICE}:${GITHUB_SHA} \
            --region ${GOOGLE_CLOUD_REGION} \
            --platform managed \
            --allow-unauthenticated

